<div class="message <%= message.message_type %>" id="<%= dom_id(message) %>">
  <p>
    <%- if message.user %>
      <span class="speaker">
        <%= message.user.email %>
      </span>
    <% end %>
    <span class="timestamp"><%= message.created_at.strftime("%H:%M:%S%p") %></span>
    <span class="body"><%= message.body %></span>
  </p>
</div>
