<tr id="<%= dom_id(character) %>">
  <td class="name"><%= character.name %></td>
  <td class="health">
    <a href="#" data-behavior="health" data-connected="#<%= dom_id(character) %>_health">
      <%= character.health %>
    </a>
    <div id="<%= dom_id(character) %>_health" style="display: none;">
      <%= form_with model: [character.encounter, character], html: { "data-behavior" => "calculator" } do |f| %>
        <%= f.text_field :health, value: "#{character.health}-", "data-original" => character.health %>
        <%= f.submit "Update" %>
      <% end %>
    </div>
  </td>
  <td class="control">
    <%= link_to "Remove", encounter_character_path(character.encounter, character), remote: true, method: :DELETE %>
  </td>
</tr>
