<h2>
  <%= @encounter.name %>
</h2>
<p class="subhead">Connection: <span id="connection" class="off">Off</span></p>
<input type="hidden" id="encounter_id" value="<%= @encounter.id %>" />

<table id="characters">
  <thead>
    <tr>
      <td class="name">Name</td>
      <td class="health">Health</td>
      <td class="control"></td>
    </tr>
  </thead>
  <tbody id="list">
    <%= render @characters %>
  </tbody>
  <%= render partial: 'characters/form', locals: {character: @character} %>
</table>

<div id="message">
  <label for="message_input">Message</label>
  <input id="message_input" type="text" data-behavior="message_speaker">
</div>

<div id="messages">
  <%= render @messages %>
</div>
