<h1><%= @encounter.name %></h1>
<input type="hidden" id="encounter_id" value="<%= @encounter.id %>" />

<table id="characters">
  <thead>
    <tr>
      <td class="name">Name</td>
      <td class="health">Health</td>
      <td class="control"></td>
    </tr>
  </thead>
  <tbody id="list">
    <%= render @characters %>
  </tbody>
  <%= render partial: 'characters/form', locals: {character: @character} %>
</table>

<div id="message">
  Message:
  <input type="text" data-behavior="message_speaker">
</div>

<div id="messages">
  <%= render @messages %>
</div>
