<p class="encounter">
  <strong><%= link_to encounter.name, encounter_characters_path(encounter_id: encounter) %></strong>
  by <%= encounter.narrator.name %>
  <% if party_membership = current_user.party_memberships.where(encounter_id: encounter).take %>
    (<%= link_to "leave", party_membership_path(party_membership), method: :DELETE %>)
  <% else %>
    (<%= link_to "join", party_memberships_path(party_membership: {encounter_id: encounter}), method: :POST %>)
  <% end %>
  <br />
  Players:
  <%= encounter.players.pluck(:name).join(", ") %>
</p>
