<!DOCTYPE html>
<html>
  <head>
    <title>RPG Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body data-current-user-id="<%= current_user.try(:id) %>" data-current-encounter-id="<%= @encounter.try(:id) %>">
    <% if flash.any? %>
      <div class="flash">
        <% flash.keys.each do |key| %>
          <p class="<%= key %>"><%= flash[key] %></p>
        <% end %>
      </div>
    <% end %>
    <h1>RPG Manager</h1>
    <p>
      <% if signed_in? %>
        Welcome, <%= current_user.name %>!
        |
        <%= link_to "Encounters", encounters_path %>
        |
        <%= link_to 'Sign Out', signout_path %>
      <% else %>
        <%= link_to "Sign Up", signup_path %>
      <% end %>
    </p>
    <%= yield %>

    <div id="log">
      <h1>Log</h1>
    </div>
  </body>
</html>
